
 @import
 url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Sofia&family=Trirong:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

 
 
*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

 body {
   position: relative;
   min-height: 100vh;
	background-image: url(Assets/Images/7227553.jpg);
	background-size: cover;
	background-repeat: no-repeat;
 }
 body::before {
 	content: "";
 	position: absolute;
 	top:0;
  left:0;
 	bottom:0;
  right:0;
  background: rgba(0,0,0,.8);
 }
#preloader, #score-page {
  height: 100vh;
 /* width: 100vw;*/
  background:  #000;/*#132030;*/
  z-index: 100;
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  overflow: scroll;
}
.animation {
	 	position: absolute;
	 	top:45vh;
	 	left:4vw;
	 	right:4vw;
}
.animation h1 {
  text-align:center;
  font-family:courier;
  color:#fff;
  font-size:5.5vmin;
}
#category {
  height: 100vh;
  z-index:99;
  background:#000;/*#132030;*/
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  overflow: scroll;
}
.logon {
  position: fixed;
  top:0;
  left:3px;
  right:0;
  bottom:0;
}
.select {
  position: absolute;
  top:20%;
  left: 20%;
  right:20%;
  color: #0ee701;
  font-weight: bold;
}
.select ul li {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  font-family: Georgia,Sans-serif;
  margin: 5px;
}
nav {
  position:absolute;
  width:100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo h1{
  color:#fff;
  font-size:6vmin;
  margin: 15px;
}
nav .material-icons {
  font-size:11vmin;
  color:#fff;
  margin:1% 2% 0 0;
}

nav .cancel{
  color: red;
  display:none;
}
.count {
 /*background: ;*/
  width:100vw;
  height: 10vh;
  margin: 1px;
  border-radius: 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:10vh;
  bottom: 80vh;
  z-index: 1 ;
}
.count .progress {
  border: 2px solid #f0f0f0;
  width: 55%;
  height: 35%;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
  position:relative;
  border-radius: 10px;
}
.count .progress span {
  left: 47%;
  right: 47%;
  color: #fff;
  font-family: "sofia",cursive;
}
.count .timer {
  border: 2px solid #f0f0f0;
  font-size: 1.2rem;
  width:30%;
  height:35%;
  margin-right: 5px;
  color:#fff;
  font-family: "sofia",cursive, courier,'explora';
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#quest-con {
  position: absolute;
  width: 100vw;
  max-height: 55vh;
  top: 25vh;
}
header {
  width: 100%;
  /*border:1px solid red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6vmin;
}
header div h1{
  font-size: 6vmin;
  font-family: "tilt prism", "courier";
  font-weight: bold;
  color: #0ed902;
  text-shadow: 1px 5px 2px #098231;
}

.question {
  border: 1.5px solid #c1c1c1;
  background: #000335;
  border-radius: 10px;
  margin: 3%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding:  3px;
  color: #fff;
  overflow: scroll;
}
.question p {
  font-family: "trirong",courier;
  font-weight: 800;
  color: #c1c1c1;
  margin: 2px;
  font-size: 4.5vmin;
}
.options {
  height: 55%;
  margin: 7% 1%;
}
.option {
  height: 45%;
  margin: 2%;
}
.optionA, .optionB, .optionC, .optionD {
  border-bottom: 2.5px solid #0ed902;
  background: #000335;
  border-radius: 10px;
  height: 55%;
 margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  padding: 5px;
}
.opt p {
	padding: 2px;
  margin-left: 10px;
  color: #fff;
  font-family: "trirong","courier New";
  font-weight: 600;
  
}



.btn1 {
  position: absolute;
  bottom: 12vh;
  width: fit-content;
  left: 40vw;
  right: 40vw;
  border: 1px solid blue;
  background: blue;
  border-radius: 5px;
  box-shadow: 1px 2px 0 rgb(175,175,175);
  font-size: 5vmin;
  text-align: center;
  font-family:"tilt prism", courier, explora,cursive;
  color: #fff;
  display: none;
  padding: 2px;
  font-weight: 700;
}
.drop-down {
  border: 1px solid #0b2648;
  border-radius: 0 0 5px 5px;
  background: #0b2648;
  position: absolute;
  width: 0;
  z-index: 98;
  left: 99vw;
  top: 0vh;
  display:none;
  overflow:hidden;
  
}
.drop-down ul li {
  cursor: pointer;
  color: #fff;
  font-size: 4vmin;
  font-family: "trirong", cursive,courier,Sans-Serif;
  font-weight: bold;
  margin: 3.2vmin;
  border-bottom: 1px solid #000;
  list-style-type: none;
  text-align: center;
  background: rgba(105,136,160,100%);
  border-radius: 5px;
}


#score-page {
  display: none;
}

#score-page .image {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  /* border:1px solid red;*/
    top: 10vh;
}
#score-page .image img {
  width: 50%;
  
}
.correct-wrong {
  width: 100vw;
  position: absolute;
  top: 38vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2px;
}
.correct, .wrong {
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding:4px;
}
.correct h1, .wrong h1 {
  font-size: 4vmin;
  color: #fff;
  text-align: center;
  font-family: "trirong",cursive;
}
.correct div, .wrong div {
  border:2px solid #0ed902;
  border-radius: 5px;
  width: 15vw;
  height: 15vw;
  margin-top: 10px;
  font-family: cursive;
  font-weight: 600;
  font-size: 8vmin;
  display:flex;
  align-items: center;
  justify-content: center;
  color:#fff;
}
.score {
 /* border: 1px solid red;*/
  width: 100vw;
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  position: absolute;
  top: 54vh;
  margin: 4px;
}
.score h1 {
  color : #fff;
  font-family: "trirong",cursive,"explora";
  font-size: 4vmin;
  text-align: center;
}
.score .score-board {
  border: 2px solid #0ed902;
  border-radius: 5px;
  width: 15vw;
  height: 15vw;
  margin: 5px;
  font-family: cursive;
  font-size: 6vmin;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  
}
.comment {
  position: absolute;
  top: 72vh;
  width: 90vw;
  display:flex;
  left: 5vw;
  right: 5vw;
  justify-content: center;
  align-items: center;
 /* border: 1px solid red;*/
}
.comment h1 {
  font-size: 10vmin;
  font-family: cursive;
  text-align: center;
}
sup, sub {
  font-size: 3vmin;
}
code {
	border: 1px solid #fff;
	border-radius: 10px;
	display:block;
	padding: 5px;
	background-color: #000;
	color: #fff;

}
.answer-con {
  position: absolute;
  top: 84vh;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
}
.answer-page {
  color:blue;
  font-family:"tilt prism",cursive,courier,Sans-Serif;
  font-size: 5vmin;
  font-weight: 700;
  width: 45vw;
  height: 4vh;
  border-radius: 10px;
}
.questions-answers {
  z-index: 101;
  left: 2px;
  right: 2px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 36%;
  overflow: scroll;
  position: absolute;
  background: #fff;
  display: none;
  font-family: courier;
  font-weight: 800;
}
